.calculator {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: background-color 0.2s, color 0.2s;

	&.light {
		background-color: #fff;
		color: #000;
	}

	&.dark {
		background-color: #22252d;
		color: #fff;
	}

	.container {
		margin-top: auto;
	}
}
